.main-color {
  background-color: #091b43 !important;
  color: #FFF !important;
}
.main-color * {
  color: #FFF !important;
}
.accent-color {
  background-color: #F58634 !important;
  color: #FFF !important;
}
.accent-color * {
  color: #FFF !important;
}
.inline-form {
  display: inline;
}
body.login-content::before {
  background: url(../img/logo-soria-mini.png) right top no-repeat,
              url(../img/front.jpg) center 60% / cover no-repeat;
}
.profile-menu > a {
  background: url(../img/ulp-logo-mini.png) center center / contain no-repeat;
  position: relative;
}
.profile-menu > a .profile-info {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  width: 100%;
}
.main-menu > li > a,
.sub-menu > a::before, .sub-menu > a::after,
.sub-menu ul > li > a {
  color: #FFF;
}
.bgm-blue-soria {
  background-color: rgb(9, 27, 67) !important;
}
form p {
  margin-top: 0;
  margin-bottom: 0;
}
.form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
  padding-top: 0 !important;
  margin-top: 10px;
}
.js-toggle {
  display: none;
}
.sub-menu ul > li > a.active, .sub-menu ul > li > a:hover {
  background-color: #FFF;
}

#btn-toggle-compras {
  cursor: pointer;
}
.modal-factura-datos {
  padding: 15px;
}
.m-r-15 {
  margin-left: 15px;
}
form .form-group:last-child {
  margin-bottom: 0px !important;
}
.table > tbody > tr:last-child > td, .table > tfoot > tr:last-child > td {
  padding-bottom: 10px !important;
}
.delete-row {
  cursor: pointer;
}
.radio.table-radio {
  margin-top: 0;
  margin-bottom: 0;
}
#ajax-loader {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.95);
  width: 100%;
  height: 100%;
  z-index: 1999;
  display: none;
}
#ajax-loader > img {
  display: block;
  margin: auto;
  margin-top: 200px;
}
.card-hr {
  height: 1px;
  background-color: #EEE;
  margin-top: 15px;
  margin-bottom: 15px;
}
.hoverable {
  transition: box-shadow .55s;
  box-shadow: 0;
}
.hoverable:hover {
  transition: box-shadow .45s;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.m-t-0 {
  margin-top: 0;
}
.m-t-15 {
  margin-top: 15px;
}
.m-b-15 {
  margin-bottom: 15px;
}
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}
@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}
@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
@media screen and (min-width: 768px) {
  #ajax-loader > img {
    margin-top: 200px;
  }
}
.third-color {
  background-color: #f5b134 !important;
  color: #FFF !important;
}
.fourth-color {
  background-color: #ef3341 !important;
  color: #FFF !important;
}
.table-input {
  border-bottom: 0;
}
.table-checkbox {
  margin-top: 0 !important;
}
.collection {
  border: 1px solid #E0E0E0;
  border-radius: 2px;
}
.collection a.collection-item {
  display: block;
  transition: .25s;
  padding: 10px 20px;
  border-bottom: 1px solid #E0E0E0;
  color: #000000;
}
.collection a.collection-item:hover {
  background-color: #DDD;
}
