@page {
  margin: 100px 50px;
}
.header {
  position: fixed;
  left: 0px;
  top: -75px;
  right: 0px;
  height: 50px;
  text-align: center;
}
.header-90 {
  top: -90px;
}
.header-120 {
  top: -120px;
}
.header-150 {
  top: -150px;
}
.space-50 {
  height: 50px;
}
.space-75 {
  height: 75px;
}
.space-95 {
  height: 95px;
}
.m-t-50 {
  margin-top: 50px;
}
.footer {
  position: fixed;
  left: 0px;
  bottom: -50px;
  right: 0px;
  height: 50px;
  text-align: center;
}
.footer .pagenum:before {
  content: counter(page);
}
html {
  font-family: sans-serif;
  font-size: 10px;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-bottom: 20px;
}
table > thead > tr {
  background-color: #e6e6ff;
}
table.bordered td {
  border-bottom: 1px solid #000;
}
table td {
  padding: 5px;
}
.bg-success {
  background-color: #DFF0D8;
}
.bg-danger {
  background-color: #F2DEDE;
}